<% include ./partials/header %>

    <div class="ui main text container segment" style="margin-top: 7em;">
        <div class="ui huge header">
            <%=blog.title%>
        </div>
        <div class="ui top attached segment">
            <div class="item">
                <img class="ui centered rounded image" src="<%= blog.image %>">
                <div class="content">
                    <div class="meta">
                        <span><%= blog.created.toDateString() %></span>
                    </div>
                    <hr>
                    <div class="description">
                        <p>
                            <%- blog.body %>
                        </p>
                    </div>
                    <hr>
                </div>
            </div>
            <a class="ui blue icon button" href="/blogs/<%=blog._id%>/edit">
                <i class="edit icon"></i>
                Edit
            </a>
            <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST" style="display: inline;">
                <button class="ui red icon button">
                    <i class="eraser icon"></i>
                    Delete
                </button>
            </form>
        </div>
    </div>
    
<% include ./partials/footer %>